@import url("https://fonts.googleapis.com/css2?family=Rubik+Dirt&family=Tilt+Neon&display=swap");

* {
  background: url("./images/bg.png") repeat center center fixed;
  box-sizing: border-box;
}

.title {
  background-color: transparent;
  font-family: "Rubik Dirt", cursive;
  font-family: "Tilt Neon", cursive;
  font-size: 45px;
}

#movie {
  position: absolute;
  left: 383px;
  right: 375px;
  top: 3%;
  color: aliceblue;
}

#generator {
  position: absolute;
  left: 565px;
  right: 383px;
  top: 15%;
  color: aliceblue;
}

.functionBar {
  position: absolute;
  left: 150px;
  top: 40%;
  right: 112px;
}

.searchBar {
  position: absolute;
  left: 112px;
  top: 47%;
  right: 112px;
}

.functionBar button {
  background: #ffb800;
  border-radius: 10px;
  font-size: 20px;
  margin: 5px;
  padding: 5px;
}

form {
  border: 7px solid #ffb800;
}

form.search input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #ffb800;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  height: 100%;
}

form.search button:hover {
  background: #ffb7008f;
}

/* Clear floats */
form.search::after {
  content: "";
  clear: both;
  display: table;
}
